// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table {
  border: solid gray 1px;
}

.body {
  background-color: aliceblue;
  font-size: 14px;
}

.h3 {
color: green;
}